<h1>The Simpsons</h1>

<h2>Histortia</h2>
<p>Los Simpson(The Simpsons) es una franquicia de comedia animada cuya familia del mismo nombre consiste en Homer, Marge, Bart, Lisa y Maggie. Los Simpson fueron creados por el dibujante Matt Groening para una serie de cortos animados que debutó en El show de Tracey Ullman en Fox el 19 de abril de 1987.</p>

<h2>Motivos por lo que le gusta</h2>
<p>Excelente modelado 2D</p>
<p>Capitulos Entretenidos</p>
<p>Humor muy bueno</p>

<h2>Personajes</h2>
<p>Cada personaje tiene sus peculiaridades</p>
<p>Abordan cada variedad de tema en sus capitulos</p>

<h2>Otras peliculas o series similares</h2>
<button class="btn-animado">
<h3>Padre de Familia</h3>
<p>Es una serie animada creada para un publico adulto, la trama se centra en la familia Griffin que vive en la ficticia ciudad de Quahog,Rhode Island</p>
</button>
<button class="btn-animado">
<h3>Jimmy Neutron</h3>
<p>Es una serie animada de television que se centra en las aventuras de Jimmy Neutron, un niño genio de 10 años.</p>
</button>